<nav id="navbar" class="navbar navbar-expand-lg navbar-light  border-top   masthead shadow-sm">

    <a class="navbar-brand brandfont" href="/logs">
        <img src="/abc/image/brand_icon.png" width="20" height="20" style="top:-10px"
             class="mr-2 d-inline-block align-top"
             alt=""><span style="font-family: 'Gelasio', serif;">CG</span>日志</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>


    {#    搜索框#}
    <form class="form-inline my-2 my-lg-0" action="/search" method="get">
        <input class="form-control mr-sm-2" name="q" type="text" value="" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">搜索</button>
    </form>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto ">
        </ul>
        <form class="form-inline my-2 my-lg-0">
            {#            <input class="form-control mr-sm-2" type="search" placeholder="Search Command..." aria-label="Search">#}
            <button class="btn btn-outline-primary my-2 my-sm-0" type="button">日志大全</button>
        </form>
    </div>

</nav>

<div class="row mb-2">
    <div class="col-md-6">

    </div>
    <div class="col-md-6">

    </div>
</div>