{% load process %}
<!doctype html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/abc/image/brand_icon.png">
    <meta http-equiv=Content-Type content="text/html; charset=utf-8">
    <title>CG日志 {{ title|process }}</title>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.common.dev.js"></script>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:700,900" rel="stylesheet">
    <link href="/abc/blog.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=ZCOOL+XiaoWei&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    {#    font#}

    <link href="https://fonts.googleapis.com/css?family=Oswald&display=swap" rel="stylesheet">

    {#    brand font#}
    <link href="https://fonts.googleapis.com/css?family=Abril+Fatface&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Gelasio&display=swap" rel="stylesheet">
    {#    <script src="https://kit.fontawesome.com/743e100922.js" crossorigin="anonymous"></script>#}
    <link href="/abc/fontawesome/css/all.css" rel="stylesheet"> <!--load all styles -->

</head>
{#note style编辑处 #}
<style>

    .title {
        color: #6a8599;
    }

    .title:hover {
        font-weight: bold;
        color: #566a7f;
    }

    .badge-primary {
        color: #fff;
        background-color: #addcff;
    }

    .masthead {
        position: sticky;
        top: 0;
    }


    .brandfont {
        font-family: 'ZCOOL XiaoWei', serif;
        font-size: 25px !important;
        color: #0091ec !important
    }

    .rightsidebar:hover {

        font-weight: bold;
    }


</style>
<body class="bg-light" style="overflow-x:hidden ">