{% include "component/webpack_head.html" %}

{#note navbar处#}

{% include "component/header.html" %}

<div class="row mb-2">
    <div class="col-md-6">

    </div>
    <div class="col-md-6">

    </div>
</div>


<main role="main" class="container content">
    <div class="row">
        <div class="col-md-8 blog-main">

            {# note 标题开头处#}
            <div class="blog-post bg-white rounded p-4">
                {#用户信息定义#}
                <div class="portrait mb-2">
                    <div class="information d-flex align-items-center">
                        <a class="d-flex align-items-centers mr-1">
                            <picture class="mr-3">
                                <img class="d-inline-block rounded " width="32"
                                     :src="intros.portrait"
                                     aria-hidden="true">
                            </picture>
                            {#用户名称#}
                            <strong class="align-self-center" v-text="intros.author"></strong>
                        </a>
                    </div>
                </div>
                {#title#}
                <h2 class="blog-post-title" v-text="title"></h2>
                <div class="d-flex tags my-3 ">
                    <h4>
                        <span class="badge badge-primary "><span>C4D</span></span>
                        <span class="badge badge-primary">CG</span>
                    </h4>
                    <div class="ml-3 p-1 text-muted">
                        <i class="fas fa-eye mr-1" style="opacity: 0.5"></i><span v-text="views"></span> views

                    </div>
                    {#时间#}

                    <div class="date ml-3 p-1 text-muted">
                        <i class="far fa-clock"></i>
                        <span v-text="intros.date"></span>
                        <span class="p-1 text-muted">提问</span>

                    </div>


                </div>


                <div class="intros" v-html="intros.content">


                </div>


            </div>

            {#note 正文模板处#}
            <div v-for="item,i in infos">
                <div class="bg-white rounded p-4 my-2">
                    <div class="portrait mb-3">
                        <div class="information d-flex align-items-center">
                            <a class="d-flex align-items-centers mr-1">
                                <picture class="mr-3">
                                    <img class="d-inline-block rounded " width="32"
                                         :src="item.portrait"
                                         aria-hidden="true">
                                </picture>
                                {#用户名称#}
                                <strong class="align-self-center" v-text="item.author"></strong>
                            </a>
                        </div>
                    </div>
                    <div v-html="item.content"></div>
                    <div class="d-flex mt-2">
                        <button type="button" class="btn btn-outline-custom p-1 mt-2"><i
                                class="far fa-thumbs-up ml-2 mr-1"></i>赞<span class="mx-2" v-text="item.upvote"></span></button>
                        <div  class="text-muted mt-3 ml-3">

                              <i class="far fa-clock mr-1" style="opacity:0.8"></i>
                            <span v-text="item.date"></span>
                        </div>

                    </div>


                </div>


            </div>


            <nav class="blog-pagination">
                <a class="btn btn-outline-primary" href="#">Older</a>
                <a class="btn btn-outline-secondary disabled" href="#">Newer</a>
            </nav>

        </div><!-- /.blog-main -->

        {# note 右边的推荐处 #}
        <aside class="col-md-4 blog-sidebar rightsidebarUnit">
            <div class="p-3 mb-3 bg-white rounded">
                <h5 class="font-bold border-bottom pb-2"><i class="fas fa-tasks mr-2"></i>相关问题</h5>
                <ol class="list-unstyled mb-0 ">
                    {% for recommend in recommend_list %}
                    <li class="mt-1"><a href="{{ recommend.url }}" class="text-dark text-decoration-none  rightsidebar">{{ recommend.title }}</a></li>
                    {% endfor %}
                </ol>
            </div>

        </aside><!-- /.blog-sidebar -->

    </div><!-- /.row -->

</main><!-- /.container -->


{% include "component/footer.html" %}

</body>
<script>
    {#note Vue编辑处#}
    var vm1 = new Vue({
            el: ".content",
            data: {
                infos: {{ content|safe }},
                title: {{ title|safe }},
                views:'',
                intros: {{ intros|safe }},
                methods: {
                    function() {
                        //    do something
                    }
                }
            },

            filters: {

                processData: function (data1) {


                    return data1.slice(0, 11);
                },
                proceeeEnd: function (data1) {


                    return data1.slice(11);
                }

            },//如何自动执行函数？当页面加载的时候
            created() {
                this.views=500+parseInt(Math.random()*500);
                console.log("this.info: ", this.infos);

            }


        }
    );

</script>


{#显示拖行进度#}
<script>
    $(window).scroll(function () {
        var s = $(window).scrollTop(),
            d = $(document).height(),
            c = $(window).height();
        scrollPercent = (s / (d - c)) * 100;
        var position = scrollPercent;

        $(".navbarborder").css('width', position + '%');

    });
</script>
