

<!doctype html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/abc/image/brand_icon.png">
    <meta http-equiv=Content-Type content="text/html; charset=utf-8">
    <title>CG日志 </title>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.common.dev.js"></script>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:700,900" rel="stylesheet">
    <link href="/abc/blog.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=ZCOOL+XiaoWei&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    

    <link href="https://fonts.googleapis.com/css?family=Oswald&display=swap" rel="stylesheet">

    
    <link href="https://fonts.googleapis.com/css?family=Abril+Fatface&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Gelasio&display=swap" rel="stylesheet">
    
    <link href="/abc/fontawesome/css/all.css" rel="stylesheet"> <!--load all styles -->

</head>

<style>

    .title {
        color: #6a8599;
    }

    .title:hover {
        font-weight: bold;
        color: #566a7f;
    }

    .badge-primary {
        color: #fff;
        background-color: #addcff;
    }

    .masthead {
        position: sticky;
        top: 0;
    }


    .brandfont {
        font-family: 'ZCOOL XiaoWei', serif;
        font-size: 25px !important;
        color: #0091ec !important
    }

    .rightsidebar:hover {

        font-weight: bold;
    }


</style>
<body class="bg-light" style="overflow-x:hidden ">


<nav id="navbar" class="navbar navbar-expand-lg navbar-light  border-top   masthead shadow-sm">

    <a class="navbar-brand brandfont" href="/logs">
        <img src="/abc/image/brand_icon.png" width="20" height="20" style="top:-10px"
             class="mr-2 d-inline-block align-top"
             alt=""><span style="font-family: 'Gelasio', serif;">CG</span>日志</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>


    
    <form class="form-inline my-2 my-lg-0" action="/search" method="get">
        <input class="form-control mr-sm-2" name="q" type="text" value="" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">搜索</button>
    </form>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto ">
        </ul>
        <form class="form-inline my-2 my-lg-0">
            
            <button class="btn btn-outline-primary my-2 my-sm-0" type="button">日志大全</button>
        </form>
    </div>

</nav>

<div class="row mb-2">
    <div class="col-md-6">

    </div>
    <div class="col-md-6">

    </div>
</div>


<main role="main" class="container content">
    <div class="row">
        
            <div class="col-md-12 blog-main bg-white border-bottom py-4">

                <h4><a class=" text-decoration-none title" href="/post/896583">如何使碰撞体仅在网格一侧活动？</a></h4>

                <div class="rest_infos d-flex mt-4">
                    <div class="time text-muted">2019-12-31 06:55:52</div>

                    <div class="tags ml-5 " style="font-size: 20px;">
                        <i class="fas fa-tags mr-2" style="opacity: 0.2"></i>
                        <span class="badge badge-primary mr-1">CG</span>
                        <span class="badge badge-primary">C4D</span>

                    </div>

                </div>


                
                <div v-for="item,i in infos">


                </div><!-- /.blog-main -->


            </div><!-- /.row -->
        
            <div class="col-md-12 blog-main bg-white border-bottom py-4">

                <h4><a class=" text-decoration-none title" href="/post/896570">想动画缩放-可能吗？</a></h4>

                <div class="rest_infos d-flex mt-4">
                    <div class="time text-muted">2019-12-31 06:55:52</div>

                    <div class="tags ml-5 " style="font-size: 20px;">
                        <i class="fas fa-tags mr-2" style="opacity: 0.2"></i>
                        <span class="badge badge-primary mr-1">CG</span>
                        <span class="badge badge-primary">C4D</span>

                    </div>

                </div>


                
                <div v-for="item,i in infos">


                </div><!-- /.blog-main -->


            </div><!-- /.row -->
        
            <div class="col-md-12 blog-main bg-white border-bottom py-4">

                <h4><a class=" text-decoration-none title" href="/post/897100">瓶子里的药片-怎么会？</a></h4>

                <div class="rest_infos d-flex mt-4">
                    <div class="time text-muted">2019-12-31 06:55:52</div>

                    <div class="tags ml-5 " style="font-size: 20px;">
                        <i class="fas fa-tags mr-2" style="opacity: 0.2"></i>
                        <span class="badge badge-primary mr-1">CG</span>
                        <span class="badge badge-primary">C4D</span>

                    </div>

                </div>


                
                <div v-for="item,i in infos">


                </div><!-- /.blog-main -->


            </div><!-- /.row -->
        
            <div class="col-md-12 blog-main bg-white border-bottom py-4">

                <h4><a class=" text-decoration-none title" href="/post/897095">合成液体与实际行动-如何实现现实折射？</a></h4>

                <div class="rest_infos d-flex mt-4">
                    <div class="time text-muted">2019-12-31 06:55:52</div>

                    <div class="tags ml-5 " style="font-size: 20px;">
                        <i class="fas fa-tags mr-2" style="opacity: 0.2"></i>
                        <span class="badge badge-primary mr-1">CG</span>
                        <span class="badge badge-primary">C4D</span>

                    </div>

                </div>


                
                <div v-for="item,i in infos">


                </div><!-- /.blog-main -->


            </div><!-- /.row -->
        
            <div class="col-md-12 blog-main bg-white border-bottom py-4">

                <h4><a class=" text-decoration-none title" href="/post/897042">AE和C4D照明？</a></h4>

                <div class="rest_infos d-flex mt-4">
                    <div class="time text-muted">2019-12-31 06:55:52</div>

                    <div class="tags ml-5 " style="font-size: 20px;">
                        <i class="fas fa-tags mr-2" style="opacity: 0.2"></i>
                        <span class="badge badge-primary mr-1">CG</span>
                        <span class="badge badge-primary">C4D</span>

                    </div>

                </div>


                
                <div v-for="item,i in infos">


                </div><!-- /.blog-main -->


            </div><!-- /.row -->
        
            <div class="col-md-12 blog-main bg-white border-bottom py-4">

                <h4><a class=" text-decoration-none title" href="/post/897063">R20的刀具怎么了？</a></h4>

                <div class="rest_infos d-flex mt-4">
                    <div class="time text-muted">2019-12-31 06:55:52</div>

                    <div class="tags ml-5 " style="font-size: 20px;">
                        <i class="fas fa-tags mr-2" style="opacity: 0.2"></i>
                        <span class="badge badge-primary mr-1">CG</span>
                        <span class="badge badge-primary">C4D</span>

                    </div>

                </div>


                
                <div v-for="item,i in infos">


                </div><!-- /.blog-main -->


            </div><!-- /.row -->
        
            <div class="col-md-12 blog-main bg-white border-bottom py-4">

                <h4><a class=" text-decoration-none title" href="/post/897053">有三个独立对象的布尔的育儿结构？</a></h4>

                <div class="rest_infos d-flex mt-4">
                    <div class="time text-muted">2019-12-31 06:55:52</div>

                    <div class="tags ml-5 " style="font-size: 20px;">
                        <i class="fas fa-tags mr-2" style="opacity: 0.2"></i>
                        <span class="badge badge-primary mr-1">CG</span>
                        <span class="badge badge-primary">C4D</span>

                    </div>

                </div>


                
                <div v-for="item,i in infos">


                </div><!-- /.blog-main -->


            </div><!-- /.row -->
        
            <div class="col-md-12 blog-main bg-white border-bottom py-4">

                <h4><a class=" text-decoration-none title" href="/post/895314">烘焙粒子，然后移动？</a></h4>

                <div class="rest_infos d-flex mt-4">
                    <div class="time text-muted">2019-12-31 06:55:52</div>

                    <div class="tags ml-5 " style="font-size: 20px;">
                        <i class="fas fa-tags mr-2" style="opacity: 0.2"></i>
                        <span class="badge badge-primary mr-1">CG</span>
                        <span class="badge badge-primary">C4D</span>

                    </div>

                </div>


                
                <div v-for="item,i in infos">


                </div><!-- /.blog-main -->


            </div><!-- /.row -->
        
            <div class="col-md-12 blog-main bg-white border-bottom py-4">

                <h4><a class=" text-decoration-none title" href="/post/895906">如何去除渲染中的硬阴影？</a></h4>

                <div class="rest_infos d-flex mt-4">
                    <div class="time text-muted">2019-12-31 06:55:52</div>

                    <div class="tags ml-5 " style="font-size: 20px;">
                        <i class="fas fa-tags mr-2" style="opacity: 0.2"></i>
                        <span class="badge badge-primary mr-1">CG</span>
                        <span class="badge badge-primary">C4D</span>

                    </div>

                </div>


                
                <div v-for="item,i in infos">


                </div><!-- /.blog-main -->


            </div><!-- /.row -->
        
            <div class="col-md-12 blog-main bg-white border-bottom py-4">

                <h4><a class=" text-decoration-none title" href="/post/895886">我怎样才能做到这一点？</a></h4>

                <div class="rest_infos d-flex mt-4">
                    <div class="time text-muted">2019-12-31 06:55:52</div>

                    <div class="tags ml-5 " style="font-size: 20px;">
                        <i class="fas fa-tags mr-2" style="opacity: 0.2"></i>
                        <span class="badge badge-primary mr-1">CG</span>
                        <span class="badge badge-primary">C4D</span>

                    </div>

                </div>


                
                <div v-for="item,i in infos">


                </div><!-- /.blog-main -->


            </div><!-- /.row -->
        
    </div>
    <div class="row bg-white">
        <div class="col-2 offset-5 my-4">

            <nav aria-label="Page navigation example">
                <ul class="pagination">

                    
                        <li class="page-item disabled">
                            <a class="page-link" href="#" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                    

                    
                        
                        

                            
                            
                                <li class="page-item active"><a class="page-link" href="/logs/1.html">1</a>
                                </li>

                            
                        

                    
                        
                        

                            
                            
                                <li class="page-item"><a class="page-link" href="/logs/2.html">2</a></li>

                            
                        

                    
                        
                        

                            
                            
                                <li class="page-item"><a class="page-link" href="/logs/3.html">3</a></li>

                            
                        

                    
                        
                        

                    
                        
                        

                    
                        
                        

                    
                        
                        

                    
                        
                        

                    
                        
                        

                    
                        
                        

                    
                        
                        

                    
                        
                        

                    
                        
                        

                    
                        
                        

                    
                        
                        

                    
                        
                        

                    
                        
                        

                    
                        
                        

                    
                        
                        

                    
                        
                        

                    


                    

                        <li class="page-item">
                            <a class="page-link" href="/logs/2.html" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                        

                    

                </ul>
            </nav>


        </div>


    </div>


</main><!-- /.container -->


<footer class="blog-footer">
    <p>© 2020 <a href="/logs">CG日志</a> .
    </p>
    <p>
        <a href="#">Back to top</a>
    </p>
</footer>


</body>
<script>
    
    var vm1 = new Vue({
            el: ".content",
            data: {
                infos: ,
                title: ,
                intros: ,
                methods: {
                    function() {
                        //    do something
                    }
                }
            },

            filters: {

                processData: function (data1) {


                    return data1.slice(0, 11);
                },
                proceeeEnd: function (data1) {


                    return data1.slice(11);
                }

            },//如何自动执行函数？当页面加载的时候
            created() {

                console.log("this.info: ", this.infos);

            }


        }
    );

</script>
<script>
    
    
    
    
    
    
    
    
    
    
    
</script>


<script>
    $(window).scroll(function () {
        var s = $(window).scrollTop(),
            d = $(document).height(),
            c = $(window).height();
        scrollPercent = (s / (d - c)) * 100;
        var position = scrollPercent;

        $(".navbarborder").css('width', position + '%');

    });
</script>
</html>
